{% extends 'base.html'%}
{% load static %}

{% block content %}
<body>

  <main>
    <main>
             
        <section style="background-color: #eee;">
          <div class="text-center container py-5 scroll">
            <div class="row">
              {%for v in venta %}         
              <div class="col-lg-4 col-md-6 mb-4">
                <div class="card">                  
                  <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <a href="#!">
                    <img style= 'object-fit: contain' src="{{v.imagen.url}}" class="w-100" />
                  </a>
                      <div class="hover-overlay">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                      </div>                    
                  </div>
                  <div class="card-body">
                    <h5 class="card-title mb-3">{{v.nombre_producto}}</h5>                                      
                    <p>{{v.ciudad}}</p>
                    <h6 class="mb-3">{{v.ciudad}}, {{v.precio}}</h6>
                    {% if user.is_authenticated %}
                    <p>{{v.nombre_vendedor}} - {{v.contacto}}</p>                    
                    {% else %}
                    <a href="{% url 'account_signup'%}">Regístrate o</a>
                    <a href="{% url 'account_login'%}">Inicia Sesión</a>
                    {% endif %}
                    
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </section>
  
      </div>
    </main>
  </main>

</body>

{%endblock content%}